/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
i{
  cursor: pointer;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    font-family: "Montserrat";
    color:#ccc;
    height: auto;
    width: auto;
}
.book{
  background-image: url("img/gbnote.gif");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 200px;
  width: 500px;
  display: inline-block;
  height: 500px;
  margin-top: -20px;

}
.aboutp{
  padding-right: 30px;
  color:#282c34;
  padding-left: 100px; 
  box-sizing: border-box;
  font-size: 30px;
}
.display-4{
  font-size: calc(1.575rem+3.7ve);
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0px;
  margin-right: 50px;
  color: #181b20;
  font-family: sans-serif,poppins;
}
.annotate{
  padding-right: 30px;
  color:#282c34;
  padding-left: 200px; 
  box-sizing: border-box;
  font-size: 30px;
}
.about{
  background-image: url('img/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 0 0.05rem 1.5rem rgb(100,0,0,0.5);
  border-radius: 15px;
 box-shadow: inset 0 0 5rem rgb(110, 12,0, 0.5);
  height: 80vh;
  width: auto;
  font-family: sans-serif,poppins;
background-position: 50%;
}
.lock{
  background-image: url('img/lock.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 20px;
  margin-right: -50px;
  margin-top: 10px;
}
.mainbox11{
  background-image: url("img/user-login.gif");
  background-repeat: no-repeat;
  background-image: contain;
  width:auto;
  height: 70vh;

}
.mainbox1{
  background-repeat: no-repeat;
  background-image: contain;
  width:auto;
  height: 70vh;

}
.mainbox{
  background-repeat: no-repeat;
  background-image: contain;
  width:50vw;
  height: 70vh;

}

.mainbox3{
  background-image: url("img/signup.gif");
  background-repeat: no-repeat;
  background-image: contain;
  width: 300px;
  height: 450px;
  margin-left: 200px;
}

.mainbox2{
  background-repeat: no-repeat;
  background-image: contain;
  width: 300px;
  height: 450px;
}
.redmore_bt,a{
  text-decoration: none;
  color: white;
}
.about_padding{
  margin-top: 90px;  
  background-color: rgb(120, 180,190, 0.5);
  height: auto;
  width: auto;
}
.pencil_main{
  display: flex;
  margin: 100px 0  100px 0;
align-items: center;
justify-content: center;
  background-color: rgb(120, 180,190, 0.5);

}
/* .form-login{
  margin-top: 2px;
} */
.form-loginh1{
  margin-top: -20px;
  margin-right: 20px;
  text-align: left;
  font-size: 200px;
  font-weight: bold;
}
button[type=submit] {
  outline: none;
  background-color: #8c2be7ce;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 10px 18px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.footer{
  border: 2px solid white;
}
button[type=submit]:hover {
  outline: none;
  background-color: #450c7ace;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
/* .pencil{
  background-image: url('../public/Odxj.gif');
  background-repeat: no-repeat;
  margin-right: 20px;
 object-fit: contain;
} */
/* .container{
  margin-top: 10px;
  justify-content: left;
  align-items:left;
} */


.form-loginp{
  margin-top: 2px ;
  font-weight: 100;
  font-size: 15px;
  text-align: left;
 justify-content: left;
}
.main {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 15px;
    min-height: 100vh;
}
.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
} */
